@import './colors.css';

/* General body styling */
body {
  background-color: var(--licorice);
  color: var(--cream);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: var(--frosting);
  background-color: var(--mocha-mousse);
  }


.navbar-custom {
  background-color: var(--mocha-mousse);
  color: var(--cream) !important;
}

/* Navbar brand and links color */
.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
  color: var(--licorice) !important; 
}

/* Navbar link hover color */
.navbar-custom .nav-link:hover {
  color: var(--caput-mortuum) !important; 
}

/* active Navbar link color */
.navbar-custom .nav-item.active .nav-link {
  color: var(--caput-mortuum) !important; 
}

/* Navbar mobile toggle icon color */
.navbar-custom .navbar-toggler-icon {
  background-color: var(--chocolate) !important;
}

