/* colors.css */

/* not using this at all since I learned about scss in Bootstrap */

:root {
    --mocha-mousse: #a47864;
    --chocolate: #200c05;
    --licorice: #070504;
    --caramel: #ca7e44;
    --cream: #f0cfbc;
    --frosting: #FFF0D7;
    --caput-mortuum: #63291e;
    --gold: #FFD700;
  }
  